* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #f5a142;
}
.container {
    text-align: center;
    padding: 50px 30px;
}
meter {
    transform: rotate(-90deg) translateX(-114px);
    height: 100px;
    width: 295px;
}